.foot {
    .accordion {
        cursor: pointer;
        width: 100%;
        transition: 0.4s;

        &:before {
            content: '\002B';
            color: #777;
            margin-left: 5px;
            font-size: 18px;
            color: #fff;
            font-family: roman-bold;
            float: left;
        }
    }

    .active {

        &:before {
            content: "\2212";
        }
    }

    .panel {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        margin-bottom: 0;
    }
}

.xs-nav {
    .accordion {
        cursor: pointer;
        width: 100%;
        transition: 0.4s;
    }



    .panel {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        margin-bottom: 0;
    }
}