.nav-bar {
    background-color: $bluecolor;

    @media (max-width: 991px) {
        height: 45px;
    }

    .menu-btn {
        display: none;
        font-size: 16px;
        color: #fff;
        font-family: roman-bold;
        cursor: pointer;

        i {
            margin-left: 5px;
        }

        @media (max-width: 991px) {
            display: flex;
            height: 45px;
            align-items: center;
        }
    }

    .links {
        display: flex;
        align-items: center;

        @media (max-width: 1200px) and (min-width: 992px) {
            justify-content: space-between;
        }

        @media (max-width: 991px) {
            display: none;
        }
    }

    .link-li {
        margin-left: 26px;
        padding: 11px 0 13px;

        @media (max-width: 1200px) and (min-width: 992px) {
            margin-left: 0;
        }
    }

    .dropdown {
        &:hover {
            .dropdown-menu {
                display: block;
                visibility: visible;
                opacity: 1;
            }

            &>.link {
                color: $greencolor;
            }
        }
    }

    .link {
        font-size: 16px;
        color: #fff;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $greencolor;
            background-color: transparent;
        }
    }

    .dropdown-menu {
        right: 50%;
        transform: translateX(50%);
        left: auto;
        top: 40px;
        text-align: center;
        position: absolute;
        z-index: 3;
        max-width: 160px;
        min-width: auto;
        padding: 10px 8px 15px;
        margin: 0;
        border-radius: 0;
        border: none;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(1, 1, 1, 0.1);
        box-shadow: 0px 0px 12px 0px rgba(1, 1, 1, 0.1);
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.3s ease-in-out);

        a {
            color: $bluecolor;
            font-weight: normal;
            line-height: 0;
            padding: 5px 25px 8px;
        }
    }
}

.xs-nav {
    background-color: rgba($greencolor, 0.4);
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: none;
}

.main-xs-nav {
    position: fixed;
    height: 100%;
    width: 260px;
    background-color: #fff;

    top: 0;
    right: 0;
    z-index: 11;
    padding-top: 70px;

    .links {
        padding-right: 25px;
    }

    .link-li {
        margin-bottom: 15px;
    }

    .link {
        font-size: 16px;

        color: $bluecolor;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $greencolor;
            background-color: transparent;
        }
    }

    .closebtn {
        position: absolute;
        top: 25px;
        font-size: 15px;
        cursor: pointer;
        left: 0px;
        margin-left: 25px;
    }

    .lang {
        width: 32px;
        height: 32px;
        font-size: 14px;
        font-family: roman-bold;
        background-color: $greencolor;
        color: #fff;
        border-radius: 2px;
        position: absolute;
        top: 20px;
        right: 0px;
        margin-right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lang-bar {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 25px;
    }

    .email {
        font-size: 16px;
        color: $bluecolor;
        margin-bottom: 10px;

        i {
            color: $greencolor;
            font-size: 14px;
            margin-right: 5px;
        }
    }

    .phone {
        font-size: 16px;
        color: $bluecolor;
        margin: 0;

        i {
            color: $greencolor;
            font-size: 14px;
            margin-right: 5px;
        }
    }
}